<!doctype html>
<html>
<head>
    <style>
        html,body,.main{ width:100%; height:100%; margin:0; }
        .main { display: flex; justify-content: center; align-items: center; }
        .mailfoo { position: fixed; bottom: 24px; left: 24px; }
        h1 { font-size: 10rem; }
    </style>
</head>
<body>
    <div class="main">
        {% if alarm %}
        <h1>JA</h1>
        {% else %}
        <h1>NEIN</h1>
        {% endif %}
    </div>
    <div class="mailfoo">
        hallo(at)istheutefeinstaubalarm.rocks
    </div>
</body>
